<!DOCTYPE html>
<html>
<head>
    <title>File metadata microservice</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
</head>
<body>
  <div class="wrapper">
<h1>File metadata microservice</h1>
  <p>Submit a file to view its size in bytes.</p>
  <form action="/submitfile" method="post" enctype="multipart/form-data">
    <input type="file" name="img" accept="image/*"/><input type="submit" />
  </form>
</div>
</body>
</html>