.wrapper {
  margin: auto;
  width: 50%;
}

.wrapperForm{
  margin: auto;
  width:30%;
}
h1 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 15px;
}
li,p {
  font-size: 20px;
}

form{
  border: solid 1px black;
}